*.dll
*.pdb
*.ldf
*.mdf
*.cache
*.ide-wal
*.ide-shm
*.ide
*.suo
*.ldf
*.mdf
*.ide-wal
*.ide-shm
*.ide
ProjectManagerSystem/MS.Service/MS.Service.csproj.user
ProjectManagerSystem/MS.Repository/MS.Repository.csproj.user
ProjectManagerSystem/MS.DataAccess/obj/Debug/MS.DataAccess.Migrations.update_after_merch.resources
ProjectManagerSystem/MS.DataAccess/Migrations/201907100814519_update_after_merch.resx
