ProjectManagerSystem/ProjectManagerSystem/obj/Debug/ProjectManagerSystem.pdb
ProjectManagerSystem/ProjectManagerSystem/obj/Debug/ProjectManagerSystem.dll
ProjectManagerSystem/ProjectManagerSystem/obj/Debug/ProjectManagerSystem.csprojAssemblyReference.cache
ProjectManagerSystem/ProjectManagerSystem/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ProjectManagerSystem/ProjectManagerSystem/bin/ProjectManagerSystem.pdb
ProjectManagerSystem/ProjectManagerSystem/bin/ProjectManagerSystem.dll
ProjectManagerSystem/ProjectManagerSystem/bin/MS.Service.pdb
ProjectManagerSystem/ProjectManagerSystem/bin/MS.Service.dll
ProjectManagerSystem/ProjectManagerSystem/ProjectManagerSystem.csproj.user
ProjectManagerSystem/ProjectManagerSystem/ProjectManagerSystem.csproj
ProjectManagerSystem/MS.Service/obj/Debug/MS.Service.pdb
ProjectManagerSystem/MS.Service/obj/Debug/MS.Service.dll
ProjectManagerSystem/MS.Service/obj/Debug/MS.Service.csprojAssemblyReference.cache
ProjectManagerSystem/MS.Service/bin/Debug/MS.Service.pdb
ProjectManagerSystem/MS.Service/bin/Debug/MS.Service.dll
ProjectManagerSystem/MS.Repository/obj/Debug/MS.Repository.csprojAssemblyReference.cache
ProjectManagerSystem/MS.DataAccess/obj/Debug/MS.DataAccess.csprojAssemblyReference.cache
ProjectManagerSystem/MS.DataAccess/obj/Debug/MS.DataAccess.csproj.GenerateResource.cache
ProjectManagerSystem/.vs/ProjectManagerSystem/v16/Server/sqlite3/storage.ide
ProjectManagerSystem/.vs/ProjectManagerSystem/v16/.suo
