
@{
    ViewBag.Title = "ViewTask";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ViewTask</h2>

@section scripts {
    <script>
    var task = new TaskController();
    task.intialize();
    </script>
}